<a href="https://colab.research.google.com/github/alphakilo11/Python/blob/main/wip_1703_Schroedinger_Chap13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Schrödinger Kapitel 13

In [1]:
import sqlite3
verbindung = sqlite3.connect("spam.db")
cursor = verbindung.cursor()
sql = '''CREATE TABLE eggs(
  cooler_typ TEXT,
  glückszahl INTEGER
);'''
cursor.execute(sql)
verbindung.commit()
verbindung.close()

In [2]:
# S 450
verbindung = sqlite3.connect("spam.db")
cursor = verbindung.cursor()
sql = '''INSERT INTO eggs(
  cooler_typ,
  glückszahl
)
VALUES("Schrödinger", 42), ('Hannes', 13), ('Lilly', 1024);'''
cursor.execute(sql)
verbindung.commit()
verbindung.close()

In [3]:
def erzeuge_tabellen(path, sql):
  """
  Creates a SQL db at given path and executes list of sql instructions
  demonstrated for CREATE TABLE and INSERT INTO
  """
  # establish database connection
  verbindung = sqlite3.connect(path)
  cursor = verbindung.cursor()



  for instruction in sql:
    # delete table if it already exists
    import re
    regex = re.compile('CREATE TABLE.*\(') # this might not find an empty table
    step = regex.findall(instruction)
    if len(step) > 0: # check if a CREATE TABLE instruction has been issued
      step = step[0][12:-1].strip()
      sql = 'DROP TABLE IF EXISTS ' + step + ';'
      cursor.execute(sql)
    # execute instructions
    cursor.execute(instruction)
  verbindung.commit()
  verbindung.close()

In [4]:
foo = ['CREATE TABLE viren(name TEXT PRIMARY KEY, typ INTEGER, status TEXT);', '''
CREATE TABLE viren_typ(typ INTEGER PRIMARY KEY, groesse INT, signatur TEXT);''']
erzeuge_tabellen('strategie.db', foo)

In [5]:
foo = ['''
INSERT INTO viren_typ(typ, groesse, signatur)
VALUES(1,128,'ABAABA'),
(2, 256, 'ABAABA'),
(3,256,'BCCBCB')''', '''
INSERT INTO viren(name, typ, status)
VALUES ('T800', 1, 'aktiv'),
  ('T803', 2, 'aktiv'),
  ('Bit13', 3, 'aktiv'),
  ('Gorf13', 1, 'aktiv'),
  ('Gorf7', 2, 'aktiv')'''
  ]
erzeuge_tabellen('strategie.db', foo)

In [10]:
def sql_abfrage(path, sql):
  """Creates a SQL db at given path and executes list of sql instructions"""

  verbindung = sqlite3.connect(path)
  cursor = verbindung.cursor()
  foo = []
  for instruction in sql:
    cursor.execute(instruction)
    foo.append(cursor.fetchall())
  verbindung.close()
  return foo

spam = sql_abfrage('strategie.db', ['SELECT * FROM viren_typ;', 'SELECT * FROM viren;', 'SELECT * FROM vorfall;'])
spam

[[(1, 128, 'ABAABA'), (2, 256, 'ABAABA'), (3, 256, 'BCCBCB')],
 [('T800', 1, 'aktiv'),
  ('T803', 2, 'aktiv'),
  ('Bit13', 3, 'aktiv'),
  ('Gorf13', 1, 'aktiv'),
  ('Gorf7', 2, 'aktiv')],
 []]

In [8]:
def sql_create_table_string(table_name, table_columns):
  """
  Constructs a SQL-String to create a table named table_name with columns provided in table_colums
  format: [column_name(str), data_type(str), primary_key(bool)]
  """
  step = '('
  for column in table_columns:
    step += column[0] + " " + column[1]
    if column[2] == True:
      step += ' PRIMARY KEY'
    step += ', '
  step = step[:-2] # remove the last comma
  step += ')'
  return 'CREATE TABLE ' + table_name + step + ';'

In [9]:
spam = [
    ['virus', 'TEXT', True],
    ['ort', 'TEXT', False],
    ['vorfall', 'TEXT', False]
]
erzeuge_tabellen('strategie.db', [sql_create_table_string('vorfall', spam)])

In [11]:
foo = ['''
INSERT INTO vorfall(virus, ort, vorfall)
VALUES('T800','HD','NONE'),
("Gorf7", 'BIOS', 'Stoerung'),
('T800','RAM','NONE'),
('Gorf3', 'CPU', 'NONE')
'''
  ]
erzeuge_tabellen('strategie.db', foo)

IntegrityError: ignored