<a href="https://colab.research.google.com/github/alphakilo11/Python/blob/main/wip_schroedinger_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Schrödinger Kapitel 13

In [ ]:
import sqlite3
verbindung = sqlite3.connect("spam.db")
cursor = verbindung.cursor()
sql = '''CREATE TABLE eggs(
  cooler_typ TEXT,
  glückszahl INTEGER
);'''
cursor.execute(sql)
verbindung.commit()
verbindung.close()

In [65]:
# S 450
verbindung = sqlite3.connect("spam.db")
cursor = verbindung.cursor()
sql = '''INSERT INTO eggs(
  cooler_typ,
  glückszahl
)
VALUES("Schrödinger", 42), ('Hannes', 13), ('Lilly', 1024);'''
cursor.execute(sql)
verbindung.commit()
verbindung.close()

In [70]:
def erzeuge_tabellen(path, sql):
  """Creates a SQL db at given path and executes list of sql instructions"""
  # establish database connection
  verbindung = sqlite3.connect(path)
  cursor = verbindung.cursor()
  # delete table if it already exists
  import re
  regex = re.compile('CREATE TABLE.*\(')
  step = regex.findall('CREATE TABLE vorfall(virus TEXT PRIMARY KEY, ort TEXT, vorfall TEXT);)')
  step = step[0][12:-1].strip()
  sql = 'DROP TABLE IF EXISTS ' + step + ';'


  for instruction in sql:
    cursor.execute(instruction)
  verbindung.commit()
  verbindung.close()

In [71]:
foo = ['CREATE TABLE viren(name TEXT PRIMARY KEY, typ INTEGER, status TEXT);', '''
CREATE TABLE viren_typ(typ INTEGER PRIMARY KEY, groesse INT, signatur TEXT);''']
erzeuge_tabellen('strategie.db', foo)

In [72]:
foo = ['''
INSERT INTO viren_typ(typ, groesse, signatur)
VALUES(1,128,'ABAABA'),
(2, 256, 'ABAABA'),
(3,256,'BCCBCB')''', '''
INSERT INTO viren(name, typ, status)
VALUES ('T800', 1, 'aktiv'),
  ('T803', 2, 'aktiv'),
  ('Bit13', 3, 'aktiv'),
  ('Gorf13', 1, 'aktiv'),
  ('Gorf7', 2, 'aktiv')'''
  ]
erzeuge_tabellen('strategie.db', foo)

In [89]:
def sql_abfrage(path, sql):
  """Creates a SQL db at given path and executes list of sql instructions"""

  verbindung = sqlite3.connect(path)
  cursor = verbindung.cursor()
  foo = []
  for instruction in sql:
    cursor.execute(instruction)
    foo.append(cursor.fetchall())
  verbindung.close()
  return foo

spam = sql_abfrage('strategie.db', ['SELECT * FROM viren_typ;', 'SELECT * FROM viren;'])
spam

[[(1, 128, 'ABAABA'), (2, 256, 'ABAABA'), (3, 256, 'BCCBCB')],
 [('T800', 1, 'aktiv'),
  ('T803', 2, 'aktiv'),
  ('Bit13', 3, 'aktiv'),
  ('Gorf13', 1, 'aktiv'),
  ('Gorf7', 2, 'aktiv')]]

In [83]:
  verbindung = sqlite3.connect('strategie.db')
  cursor = verbindung.cursor()
  cursor.execute('SELECT * FROM viren_typ;')
  print(cursor.fetchall())
  verbindung.close()

[(1, 128, 'ABAABA'), (2, 256, 'ABAABA'), (3, 256, 'BCCBCB')]

In [ ]:
erzeuge_tabellen('strategie.db', ['CREATE TABLE vorfall(virus TEXT PRIMARY KEY, ort TEXT, vorfall TEXT);'])

'DROP TABLE IF EXISTS vorfall;'